*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	
}

.blob {
	position: absolute;
	z-index: 0;
	width: 800px;
	height: 800px;
	&:nth-child(2) {
	filter :blur(25px);
	}
}
h1{
	text-shadow: 2px 2px 5px #a96ffa(0, 0, 0, 0.5);
}